<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Moneyware Integra</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    @Styles.Render("~/bundles/style/bootstrap")
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/style/ngDialog")

    @Scripts.Render("~/bundles/js/angularScripts")
    @Scripts.Render("~/bundles/js/angularPluginsScripts")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
